*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
        background-image: linear-gradient(120deg, rgb(96, 255, 96), rgb(213, 255, 115));
        color: rgb(23, 6, 46);
        font-family: 'Merriweather';
        min-height: 100vh;
    }
     header {
         font-size: 1.5rem;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 35px;
        height: 10%;
    }
    #container {
        position: absolute;
        width: 100%;
        top: 100px;
        display: flex;
        justify-content: center;
        /*height: 10%;*/
        
    }
    .search-bar {
       
        width: 35%;
        
        align-items: center;
        
        background: white;
        display: flex;
        justify-content: space-between;
        
        
    }
    
    #search-input {
        width: 100%;
        padding: 5px;
        font-size: 1.5rem;
        border: none;
        background: white;
    
    }
    
    .search-input::placeholder {
        color: #b2b2b2;
        
    }
    
    
    
    form {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
       
        height: 7%;
        bottom: 50px;
        
    }
    
   
    form input, form button {
        padding: 0.5rem;
        font-size: 1.5rem;
        border: none;
        background: white;
    }
    
    form input {
        width: 35%;
    }
    
    
    #todo-btn {
        margin-left: 20px;
        padding: 5px;
        width: 10%;
        color: rgb(23, 6, 46);
        font-weight: bold;
        background: white;
        cursor: pointer;
        transition: all 0.2sec ease-out;
    }
    
    #todo-btn:hover {
        background-color: rgb(96, 255, 96);
        transition: all 0.2sec ease-out;
    }
    
    #todo-btn [disabled] {
        background-color: gray;
    }
    
    
    
    
    .completed-btn {
    padding: 2px;
    height: 25px;
    width: 25px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    }

    .todo-container {
        position: absolute;
        top: 180px;
        bottom: 120px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .todo-list {
        overflow-y: scroll;
        width: 75%;
    }

    .todo {
        padding: 15px;
        margin-left: 10px;
        list-style: none;
        font-size: 1.5rem;
        font-style: italic;
        transition: all 0.3s ease;
    }
    
    #todo-input::placeholder {
        color: #b2b2b2;
    }
    
    
    
    .todo-div {
       
        width: 30%;
        color: black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .completed .todo {
        text-decoration: line-through;
        opacity: 0.5;
    }
    .completed .completed-btn::after {
    content: '\2714';
    padding: 0px;
    height: 30px;
    width: 30px;
    color: gray;
      
    }
    
    #clear-btn {
        width: 50px;
        padding: 0.5rem;
        font-size: 1.5rem;
        border: none;
        background: white;
        color: black;
        background-color: lightgray;
        visibility: hidden;
    }
    
    #error {
        padding: 15px;
        margin-left: 10px;
        opacity: 0.5;
        list-style: none;
        font-size: 2rem;
        left: 20px;
        display: none;
    }

@media screen and (max-width: 1000px){
.search-bar {
    width: 60%;

}

form input {
    width: 50%;
}

.todo-div {
    width: 50%;
}

button .completed-btn {
    width: 20px;
    height: 20px;
}

}

@media screen and (max-width: 600px) {
    .search-bar {
       
        width: 80%;
}

form input {
    width: 70%;
}
#todo-btn {
    font-size: 1.2rem;
}

#todo-btn {
    font-size: 1rem;
}

.todo-div {
    width: 50%;
}

button .completed-btn {
    width: 20px;
    height: 20px;
}

.todo-list {
    width: 80%;
}
    
}    

@media screen and (max-width: 550px) {
.todo-list {
    width: 90%;
}

    .todo-div {
        width: 70%;
    }
    
    button .completed-btn {
        width: 20px;
        height: 20px;
    }  
}
    